/* --------------------------------Inicio do CSS Global------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #070510;
}

header {
    /* width: 100%; */
    height: 100vh;
    background-image: url(../assets/img/background-sw.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 56px;
}

header>nav>.menu-nav{
    position: sticky;
}
.menu {
    display: flex;
    width: 90%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    margin: 4rem auto;
}

/* A partir daqui começo a usar o atributo matemático clamp que serve para definir três possíveis tamanhos. No geral o valor do meio é o padrão. */
.menu-logo {
    width: clamp(80px,2vw,150px);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div>.logo-star-wars {
    width: clamp(80px,18vw,100px);
    height: auto;
    aspect-ratio: 2/1;
}

h3.universe {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF220;
    font-size: clamp(14px,3vw,16px);
    margin: -8px;
}

.menu-nav {
    display: flex;
}

li{
    list-style-type: none;
    font-size: clamp(0.5rem,2vw,1.3rem);
    margin: 0 clamp(0.2rem,1vw,1rem);
    list-style: none;
    font-family: roboto;
    font-weight: 400;
    cursor: pointer;
}

a {
    list-style: none;
    color: white;
    text-decoration: none;
}

.active-item-menu {
    color: #FFF220;
}

a:hover {
    color: #FFF220;
    transition: 0.2s;
}

.section-title {
    width: clamp(200px,60vw,600px);
    height: auto;
    margin: clamp(2rem,12vw,10rem) 0 0 clamp(0.2rem,10vw,8rem);
}

.title {
    font-size: clamp(50px,10vw,88px);
    font-family: roboto;
    font-weight: bold;
    color: #FFF220;
}

.description {
    font-size: clamp(18px,2vw,24px);
    font-family: poppins;
    font-weight: 400;
    color: white;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
    margin: 2rem;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    /* grid-gap: 2rem; */
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 25px;
    background-image: url(./../../assets/img/personagens-card-background.png);
    background-repeat: no-repeat;
}


.card-info {
    line-height: 1rem;
    font-family: roboto;
    width: 620px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 1rem 3rem 1rem;
    border-radius: 8px;
}

.card-info>p,h2,h3 {
    margin: 1rem 1rem;
}

.card-title {
    text-transform: uppercase;
    font-family: roboto;
    font-size: 1.6rem;
    line-height: 4rem;
    color: yellow;
}

.info-title {
    color: white;
    text-transform: uppercase;
    position: relative;
}
.info-title::after {
    content: "";
    width: 1rem;
    height: 0.15rem;
    position: absolute;
    inset: 1.5rem 0 0 0;
    background-color: #FFF220;
}

img {
    width:max-content;
    aspect-ratio: 1/1;
    object-fit: fill;
}

p {
    color: white;
}

/* --------------------------------Fim do CSS Global------------------------------------ */


/* --------------------------------Inicio do Naves CSS------------------------------------ */
#nave-banner {
    /* width: 100%; */
    background-image: url(./../../assets/img/naves-background.png);
    height: 100dvh;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
     padding-top: 1px;
}

footer {
    width: 100%;
    color: white;
    background-color: #0e0c1b;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px;
    
}
footer>span {
    justify-self: center;
    align-self: center;
}


/* --------------------------------Fim do Naves CSS------------------------------------ */