@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@400;700&display=swap');


.header__planets {
    background-image: url(../../assets/img/planets-background.png);
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
    gap: 20px; 
    padding: 20px;
}

.planets__section {
    background-image: url(../../assets/img/planets-card-background.png);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.planets__section__img {
    max-width: 100%;
}

