@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@400;700&display=swap');


#banner {
    width: 100%;
    background-image: url(/assets/img/background-personagens.png);
    height: 100dvh;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
     padding-top: 1px;
}

footer {
    width: 100%;
    color: white;
    background-color: #0e0c1b;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px;
}

footer>span {
    justify-self: center;
    align-self: center;
}

