@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@400;700&display=swap");
@import "./variables.css";

/* --------------------------------Inicio do Naves CSS------------------------------------ */

#banner {
  background-image: var(--bkg-filmes);
  height: 100vh;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

#btn-alert {
  width: 120px;
  height: 36px;
  border-radius: 6px;
  background-color: rgb(91, 91, 255);
  color: white;
}

#btn-alert:hover {
  background-color: rgb(33, 33, 182);
}