@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #070510;
}

header {
    /* width: 100%; */
    height: 100vh;
    background-image: url(../assets/img/background-sw.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 56px;
}

.menu {
    display: flex;
    width: 90%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.menu-logo {
    width: 108px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-star-wars {
    width: 92px;
    height: 56px;
}

h3.universe {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF220;
    font-size: 16px;
    margin: -8px;
}

.menu-nav {
    display: flex;
}

li{
    list-style-type: none;
    font-size: 20px;
    margin: 0 16px;
    list-style: none;
    font-family: roboto;
    font-weight: 400;
    cursor: pointer;
}

 a {
    list-style: none;
    color: white;
    text-decoration: none;
}

.active-item-menu {
    color: #FFF220;
}

a:hover {
    color: #FFF220;
    transition: 0.2s;
}

.section-title {
    width: 480px;
    height: 200px;
    margin: 128px 0 0 128px;
}

.title {
    font-size: 88px;
    font-family: roboto;
    font-weight: bold;
    color: #FFF220;
}

.description {
    font-size: 24px;
    font-family: poppins;
    font-weight: 400;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie {
    width: 1260px;
    height: 480px;
    border-radius: 8px;
    background-color: #0f0c1f;
    margin: 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-info {
    font-family: roboto;
    width: 620px;
    height: 420px;
    background-image: url(../assets/img/card-background-info.png);
    margin-left: 120px;
    border-radius: 8px;
}

.card-title {
    text-transform: uppercase;
    font-family: roboto;
    font-size: 28px;
    color: yellow;
}

.movie-info-title {
    color: white;
    text-transform: uppercase;
}

.movie-img {
    width: 276px;
    height: 382px;
    border-radius: 4px;
}

p {
    color: white;
}
